################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsFormsApp1_2/.vs/WindowsFormsApp1_2/FileContentIndex/1d03c07e-9b93-4a11-ae6f-f7aba81deee1.vsidx
